{{define "content"}}

<body class="flex flex-col justify-between">
  <!-- Example -->
  <div class="flex min-h-screen">
    <!-- Container -->
    <div class="flex flex-row w-full">
      <!-- Sidebar -->
      <div class="flex-col justify-between hidden text-black lg:flex bg-amber-300 lg:p-8 xl:p-12 lg:max-w-sm xl:max-w-lg">
        <div class="flex items-center justify-start space-x-3">
          <span class="w-8 h-8 bg-black rounded-full"></span>
          <a href="#" class="text-xl font-medium">Skuman</a>
        </div>
        <div class="space-y-5">
          <h1 class="font-extrabold lg:text-3xl xl:text-5xl xl:leading-snug">Enter your account and discover new experiences</h1>
          <p class="text-lg">Don't have an account?</p>
          <a href="/sign-up" class="flex-none inline-block px-4 py-3 font-medium text-white bg-black border-2 border-black rounded-lg hover:bg-slate-950">Create account here</a>
        </div>
        <p class="font-medium">© 2023 Skuman</p>
      </div>

      <!-- Login -->
      <div class="relative flex flex-col items-center justify-center flex-1 px-10">
        <!-- Mobile -->
        <div class="flex items-center justify-between w-full py-4 lg:hidden">
          <div class="flex items-center justify-start space-x-3">
            <span class="w-6 h-6 bg-black rounded-full"></span>
            <a href="#" class="text-lg font-medium">Skuman</a>
          </div>
          <div class="flex items-center space-x-2">
            <span>Not a member? </span>
            <a href="/sign-up" class="flex-none inline-block px-4 py-3 font-medium text-white bg-black rounded-lg dark:text-black dark:bg-amber-300 dark:hover:bg-amber-400 hover:slate-950">Sign up now</a>
          </div>
        </div>
        <!-- Login box -->
        {{template "login-form"}}
      </div>
    </div>
  </div>
  <!-- Example -->
</body>
{{end}}
